<!DOCTYPE html>
<html ng-app="app">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Iris OC</title>

  <!-- Stylesheet -->
  <link rel="stylesheet" href="/app/assets/main.css">

  <!-- Iris Stylesheets -->
  <link rel="stylesheet" href="https://files.iris-oc.com/iaf/0.1.1/css/iris-main.css">  


</head>

<body ng-controller="myCtrl">

      <ng-include src="'./app/views/test.html'"></ng-include>
      <hr>
      <input type="radio" name="model" ng-click="getAll('events')"> Events
      <input type="radio" name="model" ng-click="getAll('articles')"> Articles
      <input type="radio" name="model" ng-click="getAll('vendors')"> Vendors
      <br>
      <textarea name="" id="" style="width: 100%" rows="30">{{documents | json}}</textarea>
      <hr>

      <button ng-click="addToCollection('data')">Add to collection</button>
      <hr>

      <button ng-click="openUploader()">Open Uploader</button>

      <hr>

      <div ng-if="!userAuthenticated()" class="signup">
        <label for="username">Username:</label>
        <input type="text" ng-model="signup.username"/>
        <label for="Email">Email:</label>
        <input type="text" ng-model="signup.email"/>
        <label for="password">Password:</label>
        <input type="password" ng-model="signup.password"/>
        <button ng-disabled="!signup.username || !signup.password" 
          ng-click="signup(signup)">New Signup</button>
      </div>

      <hr>

      <div ng-if="!userAuthenticated()" class="login">
        <label for="username">Username:</label>
        <input type="text" ng-model="login.username"/>
        <label for="password">Password:</label>
        <input type="text" ng-model="login.password"/>
        <button ng-disabled="!login.username || !login.password" 
          ng-click="login(login)">Login</button>
      </div>

      <div ng-if="userAuthenticated()" class="logout">
        <button 
        ng-click="logout()">Logout</button>
      </div>
      
      

  <!-- =================== IRIS-MODULE ===================== -->


  <!-- Angular -->
  <script src="https://code.angularjs.org/1.6.8/angular.min.js"></script>

  <!-- Auth0 -->
  <script type="text/javascript" src="https://files.iris-oc.com/iaf/0.1.1/js/angular-jwt.min.js"></script>
  <script type="text/javascript" src="https://files.iris-oc.com/iaf/0.1.1/js/auth0.min.js"></script>
  
  <!--  -->
  <script type="text/javascript" src="https://files.iris-oc.com/iaf/0.1.1/js/iris-iaf-sandbox.js"></script>
  <script src="/app/components/main.js"></script>
  

  <!-- UI-Router -->
  <!-- <script src="//unpkg.com/@uirouter/angularjs/release/angular-ui-router.min.js"></script> -->

  <!-- 3rd Party -->
  <script type="text/javascript" src="https://files.iris-oc.com/iaf/0.1.1/js/angular-fancy-modal.js"></script>
  <script type="text/javascript" src="https://files.iris-oc.com/iaf/0.1.1/js/angular-file-upload.min.js"></script>
</body>

</html>
